## Load Earth System Science Data (ESSD) datasets

Copyright (C) 2021 OS-Climate

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Contributed by Michael Tiemann (Github: MichaelTiemannOSC)

Load Credentials

In [1]:
# From the AWS Account page, copy the export scripts from the appropriate role using the "Command Line or Programmatic Access" link
# Paste the copied text into ~/credentials.env

from dotenv import dotenv_values, load_dotenv
import os
import pathlib
import sys

dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

# import sys
# sys.path.append('../src/')

In [2]:
# import re
import pandas as pd
import numpy as np

import openpyxl

import pint
import pint_pandas
import iam_units
from openscm_units import unit_registry
pint_pandas.PintType.ureg = unit_registry
ureg = unit_registry

In [3]:
import osc_ingest_trino as osc
# import pyarrow as pa
# import pyarrow.parquet as pq
# import json
import io
import uuid

Create an S3 resource for the bucket holding source data

In [4]:
import boto3
s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

In [5]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

In [6]:
ingest_catalog = 'osc_datacommons_dev'
ingest_schema = 'sandbox'
essd_table_prefix = 'essd_'

In [7]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('default',)
('demo_dv',)
('iceberg_demo',)
('information_schema',)
('pcaf_sovereign_footprint',)
('sandbox',)

In [8]:
def create_essd_table(tablename, df, partitioning=''):
    ingest_table = f'{essd_table_prefix}{tablename}'
    columnschema = osc.create_table_schema_pairs(df, typemap={"datetime64[ns]":"timestamp(6)"})

    drop_table = engine.execute(f"drop table if exists {ingest_schema}.{ingest_table}")
    drop_table.fetchall()

    tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
{'partitioning = ' if partitioning else ''}{partitioning}{',' if partitioning else ''}
format = 'ORC'
)
"""
    print(tabledef)
    qres = engine.execute(tabledef)
    print(qres.fetchall())
    df.to_sql(ingest_table,
              con=engine, schema=ingest_schema, if_exists='append',
              index=False,
              method=osc.TrinoBatchInsert(batch_size = 10000, verbose = True))

Load ESSD data file using pandas *read_excel* and using *ingest_uuid* as the global UUID for this ingestion

In [9]:
# Much better to use disk than memory for large datasets (at least as far as notebook resources are concerned)!
s3_essd_file = bObj = bucket.Object('ESSD/essd_ghg_data.xlsx')
essd_tmpfile = f'/tmp/essd-data.xlsx'
s3_essd_file.download_file(essd_tmpfile)
timestamp = bObj.last_modified.isoformat()

# It takes ~90 seconds (!) to load nearly 600K rows of data
df = pd.read_excel(essd_tmpfile, sheet_name='data',
                   # nrows=10,
                   converters={'year': lambda x: pd.to_datetime(x, format='%Y')},
                   dtype={'gwp100_ar5':'int32', 'value':'float64'},
                   engine='openpyxl')
df['value_units'] = 't CO2e'

In [10]:
# Put year at the end to make for more friendly partitioning
year_index = df.columns.get_loc('year')
essd_data_df = df[df.columns[:year_index].to_list()
                  + df.columns[year_index+1:].to_list()
                  + [df.columns[year_index]]]
essd_data_df = essd_data_df.convert_dtypes()

display(essd_data_df.columns)

Index(['ISO', 'country', 'region_ar6_6', 'region_ar6_10', 'region_ar6_22',
       'region_ar6_dev', 'sector_title', 'subsector_title', 'gas',
       'gwp100_ar5', 'value', 'value_units', 'year'],
      dtype='object')

Construct the combined metadata by merging existing table metadata and custom metadata.
Note: The metadata content must be JSON serialisable and encoded as bytes; the metadata key must also be encoded as bytes.

In [11]:
essd_content_df = pd.read_excel(essd_tmpfile, sheet_name='info', header=None).dropna(axis=0).set_index(0).T
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) Dataset',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Data description']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

essd_metadata_df = pd.read_excel(essd_tmpfile, sheet_name='metadata')
custom_meta_fields = { d['Variable']: {k:v for k,v in d.items() if k!='Variable' and v==v} for d in essd_metadata_df.to_dict('records') }

The schemaname for this table is `essd`.  Dunno if it's a good idea or simply redundant to prefix the tablename with `essd_`

In [12]:
essd_data_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568341 entries, 0 to 568340
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ISO              568341 non-null  string
 1   country          568341 non-null  string
 2   region_ar6_6     568341 non-null  string
 3   region_ar6_10    568341 non-null  string
 4   region_ar6_22    568341 non-null  string
 5   region_ar6_dev   568341 non-null  string
 6   sector_title     568341 non-null  string
 7   subsector_title  568341 non-null  string
 8   gas              568341 non-null  string
 9   gwp100_ar5       568341 non-null  Int32
 10  value            568341 non-null  Float64
 11  value_units      568341 non-null  string
 12  year             568341 non-null  datetime64[ns]
dtypes: Float64(1), Int32(1), datetime64[ns](1), string(10)
memory usage: 55.3 MB

In [13]:
create_essd_table('ghg_data', essd_data_df, "array['year']")
del(essd_data_df)

create table if not exists osc_datacommons_dev.sandbox.essd_ghg_data(
    ISO varchar,
    country varchar,
    region_ar6_6 varchar,
    region_ar6_10 varchar,
    region_ar6_22 varchar,
    region_ar6_dev varchar,
    sector_title varchar,
    subsector_title varchar,
    gas varchar,
    gwp100_ar5 integer,
    value double,
    value_units varchar,
    year timestamp(6)
) with (
partitioning = array['year'],
format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_ghg_data"
inserting 10000 records
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Buildings', 'Residential', 'CO2', 1, 545.2099, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Buildings', 'Residential', 'CH4', 28, 0.16094121, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Buildings', 'Residential', 'N2O', 265, 0.004802031, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ...
  ('ALB', 'Albania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-32', 677, 0.870974, 't CO2e', TIMESTAMP '2007-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('ALB', 'Albania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-365mfc', 804, 0.554214, 't CO2e', TIMESTAMP '2007-01-01 00:00:00')
  ('ALB', 'Albania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Waste', 'CO2', 1, 2254.46, 't CO2e', TIMESTAMP '2007-01-01 00:00:00')
  ('ALB', 'Albania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Waste', 'CH4', 28, 13937.45179839, 't CO2e', TIMESTAMP '2007-01-01 00:00:00')
  ...
  ('ARM', 'Armenia', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developing', 'Industry', 'Other (industry)', 'CH4', 28, 11.72165, 't CO2e', TIMESTAMP '2014-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('ARM', 'Armenia', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developing', 'Industry', 'Other (industry)', 'N2O', 265, 1.4789, 't CO2e', TIMESTAMP '2014-01-01 00:00:00')
  ('ARM', 'Armenia', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developing', 'Industry', 'Other (industry)', 'HCFC-141b', 782, 59.3715, 't CO2e', TIMESTAMP '2014-01-01 00:00:00')
  ('ARM', 'Armenia', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developing', 'Industry', 'Other (industry)', 'HCFC-142b', 1980, 26.39825, 't CO2e', TIMESTAMP '2014-01-01 00:00:00')
  ...
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Inland Shipping', 'CH4', 28, 1.519, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Inland Shipping', 'N2O', 265, 0.434, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Other (transport)', 'CO2', 1, 1206683.0, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Other (transport)', 'CH4', 28, 50.7968, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ...
  ('BEL', 'Belgium', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Inland Shipping', 'CO2', 1, 1081424.0, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BEL', 'Belgium', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Inland Shipping', 'CH4', 28, 99.428, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('BEL', 'Belgium', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Inland Shipping', 'N2O', 265, 28.408, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('BEL', 'Belgium', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Other (transport)', 'CO2', 1, 1736437.2, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ...
  ('BGR', 'Bulgaria', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-143a', 4800, 0.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BGR', 'Bulgaria', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-152a', 138, 0.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('BGR', 'Bulgaria', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-227ea', 3350, 0.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('BGR', 'Bulgaria', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-23', 12400, 0.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ...
  ('BLR', 'Belarus', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developed', 'Energy systems', 'Petroleum refining', 'N2O', 265, 19.0523, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BLR', 'Belarus', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developed', 'Industry', 'Cement', 'CO2', 1, 1042040.0, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ('BLR', 'Belarus', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developed', 'Industry', 'Chemicals', 'CO2', 1, 7481677.337, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ('BLR', 'Belarus', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developed', 'Industry', 'Chemicals', 'CH4', 28, 127.862, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ...
  ('BRA', 'Brazil', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'AFOLU', 'Biomass burning (CH4, N2O)', 'N2O', 265, 2142.925802, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BRA', 'Brazil', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'AFOLU', 'Enteric Fermentation (CH4)', 'CH4', 28, 6456574.5, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('BRA', 'Brazil', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 'CO2', 1, 11468527.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('BRA', 'Brazil', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 'N2O', 265, 199664.040645, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ...
  ('BWA', 'Botswana', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Buildings', 'Non-residential', 'N2O', 265, 0.966, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BWA', 'Botswana', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Buildings', 'Residential', 'CO2', 1, 32118.2, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ('BWA', 'Botswana', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Buildings', 'Residential', 'CH4', 28, 5439.984429, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ('BWA', 'Botswana', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Buildings', 'Residential', 'N2O', 265, 72.5447665, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ...
  ('CHE', 'Switzerland', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Road', 'CO2', 1, 11234133.048071, 't CO2e', TIMESTAMP '1984-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('CHE', 'Switzerland', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Road', 'CH4', 28, 5018.455062939, 't CO2e', TIMESTAMP '1984-01-01 00:00:00')
  ('CHE', 'Switzerland', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Road', 'N2O', 265, 501.1861682002, 't CO2e', TIMESTAMP '1984-01-01 00:00:00')
  ('CHE', 'Switzerland', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'AFOLU', 'Biomass burning (CH4, N2O)', 'CH4', 28, 166.8556511, 't CO2e', TIMESTAMP '1985-01-01 00:00:00')
  ...
  ('CHN', 'China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Other (industry)', 'HCFC-142b', 1980, 0.0, 't CO2e', TIMESTAMP '2012-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('CHN', 'China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Other (industry)', 'HFC-125', 3170, 8600.0, 't CO2e', TIMESTAMP '2012-01-01 00:00:00')
  ('CHN', 'China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Other (industry)', 'HFC-134a', 1300, 28000.0, 't CO2e', TIMESTAMP '2012-01-01 00:00:00')
  ('CHN', 'China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Other (industry)', 'HFC-143a', 4800, 3000.0, 't CO2e', TIMESTAMP '2012-01-01 00:00:00')
  ...
  ('COG', 'Congo, Rep.', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Inland Shipping', 'N2O', 265, 0.806, 't CO2e', TIMESTAMP '2016-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('COG', 'Congo, Rep.', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Rail ', 'CO2', 1, 263129.0, 't CO2e', TIMESTAMP '2016-01-01 00:00:00')
  ('COG', 'Congo, Rep.', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Rail ', 'CH4', 28, 14.7367, 't CO2e', TIMESTAMP '2016-01-01 00:00:00')
  ('COG', 'Congo, Rep.', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Rail ', 'N2O', 265, 101.559, 't CO2e', TIMESTAMP '2016-01-01 00:00:00')
  ...
  ('CRI', 'Costa Rica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Biomass burning (CH4, N2O)', 'CH4', 28, 1098.073398, 't CO2e', TIMESTAMP '1985-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('CRI', 'Costa Rica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Biomass burning (CH4, N2O)', 'N2O', 265, 28.4685928, 't CO2e', TIMESTAMP '1985-01-01 00:00:00')
  ('CRI', 'Costa Rica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Enteric Fermentation (CH4)', 'CH4', 28, 141311.1, 't CO2e', TIMESTAMP '1985-01-01 00:00:00')
  ('CRI', 'Costa Rica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 'CO2', 1, 45760.0, 't CO2e', TIMESTAMP '1985-01-01 00:00:00')
  ...
  ('CZE', 'Czech Republic', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Coal mining fugitive emissions', 'CO2', 1, 5272411.69, 't CO2e', TIMESTAMP '1973-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('CZE', 'Czech Republic', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Coal mining fugitive emissions', 'CH4', 30, 238824.69, 't CO2e', TIMESTAMP '1973-01-01 00:00:00')
  ('CZE', 'Czech Republic', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Electricity & heat', 'CO2', 1, 38722228.0, 't CO2e', TIMESTAMP '1973-01-01 00:00:00')
  ('CZE', 'Czech Republic', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Electricity & heat', 'CH4', 28, 514.8593, 't CO2e', TIMESTAMP '1973-01-01 00:00:00')
  ...
  ('DJI', 'Djibouti', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Industry', 'Other (industry)', 'N2O', 265, 1.47707518, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('DJI', 'Djibouti', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Industry', 'Waste', 'CH4', 28, 11816.206118, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('DJI', 'Djibouti', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Industry', 'Waste', 'N2O', 265, 21.52962, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('DJI', 'Djibouti', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Transport', 'Domestic Aviation', 'CO2', 1, 193992.29, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ...
  ('DZA', 'Algeria', 'Africa', 'Africa', 'North Africa', 'developing', 'Industry', 'Other (industry)', 'CH4', 28, 50.93, 't CO2e', TIMESTAMP '1977-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('DZA', 'Algeria', 'Africa', 'Africa', 'North Africa', 'developing', 'Industry', 'Other (industry)', 'N2O', 265, 10.04843, 't CO2e', TIMESTAMP '1977-01-01 00:00:00')
  ('DZA', 'Algeria', 'Africa', 'Africa', 'North Africa', 'developing', 'Industry', 'Other (industry)', 'HCFC-141b', 782, 0.0, 't CO2e', TIMESTAMP '1977-01-01 00:00:00')
  ('DZA', 'Algeria', 'Africa', 'Africa', 'North Africa', 'developing', 'Industry', 'Other (industry)', 'HCFC-142b', 1980, 0.0, 't CO2e', TIMESTAMP '1977-01-01 00:00:00')
  ...
  ('ERI', 'Eritrea', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Electricity & heat', 'CO2', 1, 289226.34, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('ERI', 'Eritrea', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Electricity & heat', 'CH4', 28, 10.3059745, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ('ERI', 'Eritrea', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Electricity & heat', 'N2O', 265, 2.1537806, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ('ERI', 'Eritrea', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Other (energy systems)', 'CH4', 28, 13844.6, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ...
  ('EST', 'Estonia', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Chemicals', 'CH4', 28, 3.774, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('EST', 'Estonia', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Chemicals', 'N2O', 265, 16.8015973, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ('EST', 'Estonia', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Metals', 'CO2', 1, 80609.575, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ('EST', 'Estonia', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Metals', 'CH4', 28, 0.067, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ...
  ('FLK', 'Falkland Islands (Malvinas)', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'Transport', 'Other (transport)', 'CO2', 1, 45.75101, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('FLK', 'Falkland Islands (Malvinas)', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'Transport', 'Other (transport)', 'CH4', 28, 0.002501869, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('FLK', 'Falkland Islands (Malvinas)', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'Transport', 'Other (transport)', 'N2O', 265, 0.0164433618, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ('FLK', 'Falkland Islands (Malvinas)', 'Latin America and Caribbean', 'Latin America and Caribbean', 'South America', 'developing', 'Transport', 'Road', 'CO2', 1, 514.24566, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
  ...
  ('GBR', 'United Kingdom', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Waste', 'CH4', 30, 290.115, 't CO2e', TIMESTAMP '1972-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('GBR', 'United Kingdom', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Waste', 'N2O', 265, 3644.85357, 't CO2e', TIMESTAMP '1972-01-01 00:00:00')
  ('GBR', 'United Kingdom', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Domestic Aviation', 'CO2', 1, 4874462.3, 't CO2e', TIMESTAMP '1972-01-01 00:00:00')
  ('GBR', 'United Kingdom', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Transport', 'Domestic Aviation', 'CH4', 28, 34.151855, 't CO2e', TIMESTAMP '1972-01-01 00:00:00')
  ...
  ('GHA', 'Ghana', 'Africa', 'Africa', 'Western Africa', 'developing', 'Industry', 'Other (industry)', 'HFC-143a', 4800, 71.074922, 't CO2e', TIMESTAMP '2018-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('GHA', 'Ghana', 'Africa', 'Africa', 'Western Africa', 'developing', 'Industry', 'Other (industry)', 'HFC-245fa', 858, 51.749048, 't CO2e', TIMESTAMP '2018-01-01 00:00:00')
  ('GHA', 'Ghana', 'Africa', 'Africa', 'Western Africa', 'developing', 'Industry', 'Other (industry)', 'HFC-32', 677, 16.911521, 't CO2e', TIMESTAMP '2018-01-01 00:00:00')
  ('GHA', 'Ghana', 'Africa', 'Africa', 'Western Africa', 'developing', 'Industry', 'Other (industry)', 'HFC-365mfc', 804, 18.412281, 't CO2e', TIMESTAMP '2018-01-01 00:00:00')
  ...
  ('GNQ', 'Equatorial Guinea', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Domestic Aviation', 'CO2', 1, 14787.523, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('GNQ', 'Equatorial Guinea', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Domestic Aviation', 'CH4', 28, 0.10354252, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('GNQ', 'Equatorial Guinea', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Domestic Aviation', 'N2O', 265, 0.41417066, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('GNQ', 'Equatorial Guinea', 'Africa', 'Africa', 'Southern and middle Africa', 'developing', 'Transport', 'Other (transport)', 'CO2', 1, 1561.09, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ...
  ('GTM', 'Guatemala', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Oil and gas fugitive emissions', 'CH4', 30, 6563.46924, 't CO2e', TIMESTAMP '2001-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('GTM', 'Guatemala', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Oil and gas fugitive emissions', 'N2O', 265, 0.091364, 't CO2e', TIMESTAMP '2001-01-01 00:00:00')
  ('GTM', 'Guatemala', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Other (energy systems)', 'CH4', 28, 2837.9, 't CO2e', TIMESTAMP '2001-01-01 00:00:00')
  ('GTM', 'Guatemala', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Other (energy systems)', 'N2O', 265, 744.3886, 't CO2e', TIMESTAMP '2001-01-01 00:00:00')
  ...
  ('HRV', 'Croatia', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Industry', 'Other (industry)', 'HFC-365mfc', 804, 0.0, 't CO2e', TIMESTAMP '1979-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records

Verify that we can restore data and metadata

Grab Sector, Region, 100yr GWPs, and GH4_gwps from one of the two main ESSD data tables (they are the same in both).

In [14]:
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) Sector Classification',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Sectors']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

custom_meta_fields = None

In [15]:
essd_sectors_df = pd.read_excel(essd_tmpfile, sheet_name='sector_classification',
                                # nrows=10,
                                engine='openpyxl').convert_dtypes()
display(essd_sectors_df.columns)

create_essd_table('sectors', essd_sectors_df)

Index(['EDGAR_code', 'fossil_bio', 'sector_title', 'description',
       'subsector_title', 'IPCC_2006'],
      dtype='object')

create table if not exists osc_datacommons_dev.sandbox.essd_sectors(
    EDGAR_code varchar,
    fossil_bio varchar,
    sector_title varchar,
    description varchar,
    subsector_title varchar,
    IPCC_2006 varchar
) with (

format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_sectors"
inserting 208 records
  ('1A1a1', 'bio', 'Energy systems', 'Public Electricity Generation (biomass)', 'Electricity & heat', '1.A.1.a.i')
  ('1A1a1', 'fossil', 'Energy systems', 'Public Electricity Generation ', 'Electricity & heat', '1.A.1.a.i')
  ('1A1a2', 'bio', 'Energy systems', 'Public Combined Heat and Power gen. (biom.)', 'Electricity & heat', '1.A.1.a.ii')
  ...
  ('7C2', 'fossil', 'Industry', 'Indirect N2O from NH3 emitted in cat. 2-3', 'Other (industry)', '5.A')
batch insert result: [(208,)]

In [16]:
essd_regions_df = pd.read_excel(essd_tmpfile, sheet_name='region_classification',
                                # nrows=10,
                                engine='openpyxl').convert_dtypes()
display(essd_regions_df.columns)

create_essd_table('regions', essd_regions_df)

Index(['ISO', 'name', 'region_ar6_6', 'region_ar6_10', 'region_ar6_22',
       'region_ar6_dev'],
      dtype='object')

create table if not exists osc_datacommons_dev.sandbox.essd_regions(
    ISO varchar,
    name varchar,
    region_ar6_6 varchar,
    region_ar6_10 varchar,
    region_ar6_22 varchar,
    region_ar6_dev varchar
) with (

format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_regions"
inserting 250 records
  ('AFG', 'Afghanistan', 'Asia and developing Pacific', 'Southern Asia', 'Rest of Southern Asia', 'ldc')
  ('ALA', 'land Islands', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed')
  ('ALB', 'Albania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed')
  ...
  ('SCG', 'Serbia and Montenegro', 'Eastern Europe and West-Central Asia', 'Eurasia', 'Eurasia', 'developed')
batch insert result: [(250,)]

In [17]:
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) Region Classification',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Regions']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

custom_meta_fields = None

Now deal with the gas species.  We'll annotate our dataframe with PINT units

In [18]:
essd_gwp_df = pd.read_excel(essd_tmpfile, sheet_name='100_yr_gwps',
                            # nrows=10,
                            dtype={'gwp_ar5':'int32'}, engine='openpyxl')

display(essd_gwp_df.columns)

Index(['gas', 'gwp_ar5'], dtype='object')

In [19]:
ureg.define("CH4_Combustion = nan CH4")
ureg.define("CH4_Fugitive = nan CH4")
ureg.define("CH4_Process = nan CH4")

ch4_dict = {
    'CH4 Biogenic': 'CH4',
    'CH4 Fossil (Combustion)': 'CH4_Combustion',
    'CH4 Fossil (Fugitive)': 'CH4_Fugitive',
    'CH4 Fossil (Process)': 'CH4_Process'
}

def convert_gas_to_pint_species(s):
    """For a series S of gas species, return the species name known to pint"""
    return [ch4_dict[g] if g in ch4_dict else g.replace('c-', 'C').replace('-','') for g in s.tolist()]

essd_gwp_df = essd_gwp_df.assign(units=lambda x: convert_gas_to_pint_species(x.gas)).convert_dtypes()

In [20]:
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) Gas Species',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Regions']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

custom_meta_fields = None

create_essd_table('gwp_100yr', essd_gwp_df)

create table if not exists osc_datacommons_dev.sandbox.essd_gwp_100yr(
    gas varchar,
    gwp_ar5 integer,
    units varchar
) with (

format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_gwp_100yr"
inserting 33 records
  ('C2F6', 11100, 'C2F6')
  ('C3F8', 8900, 'C3F8')
  ('C4F10', 9200, 'C4F10')
  ...
  ('SF6', 23500, 'SF6')
batch insert result: [(33,)]

In [21]:
essd_ch4_df = pd.read_excel(essd_tmpfile, sheet_name='CH4_gwps',
                            # nrows=10,
                            dtype={'gwp_ar5':'int32', 'subsector':'str'}, engine='openpyxl').convert_dtypes()

display(essd_ch4_df.columns)

Index(['sector_code', 'fossil_bio', 'gas', 'gwp_ar5_feedbacks', 'gwp_ar5',
       'description', 'subsector', 'chapter_title', 'subsector_title'],
      dtype='object')

In [22]:
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) CH4 GWPs',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Regions']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

custom_meta_fields = None

create_essd_table('ch4_gwp', essd_ch4_df)

create table if not exists osc_datacommons_dev.sandbox.essd_ch4_gwp(
    sector_code varchar,
    fossil_bio varchar,
    gas varchar,
    gwp_ar5_feedbacks bigint,
    gwp_ar5 integer,
    description varchar,
    subsector varchar,
    chapter_title varchar,
    subsector_title varchar
) with (

format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_ch4_gwp"
inserting 122 records
  ('1A1a1', 'bio', 'CH4 Biogenic', 34, 28, 'Public Electricity Generation', '6.2', 'Energy systems', 'Biomass energy systems')
  ('1A1a1', 'fossil', 'CH4 Fossil (Combustion)', 34, 28, 'Public Electricity Generation', '6.1', 'Energy systems', 'Electricity & heat')
  ('1A1a2', 'bio', 'CH4 Biogenic', 34, 28, 'Public Combined Heat and Power gen.', '6.2', 'Energy systems', 'Biomass energy systems')
  ...
  ('4E', 'bio', 'CH4 Biogenic', 34, 28, 'Savannah fires', '7.6', 'AFOLU', 'Biomass burning (CO2, CH4)')
batch insert result: [(122,)]

In [23]:
s3_gwp100_file = bObj = bucket.Object('ESSD/essd_ghg_data_gwp100.xlsx')
essd_gwp100_tmpfile = f'/tmp/essd-gwp100.xlsx'
s3_gwp100_file.download_file(essd_gwp100_tmpfile)
timestamp = bObj.last_modified.isoformat()

# This takes about 30sec to execute
df = pd.read_excel(essd_gwp100_tmpfile, sheet_name='data',
                   # nrows=10,
                   converters={'year': lambda x: pd.to_datetime(x, format='%Y')},
                   dtype={'gwp100_ar5':'int32',
                          'CO2':'float64','CH4':'float64','N2O':'float64','Fgas':'float64','GHG':'float64'},
                   engine='openpyxl')
for col in ['CO2','CH4','N2O','Fgas','GHG']:
    df.insert(df.columns.get_loc(col)+1, col + "_units", "t CO2" if col=='CO2' else "t CO2e")

In [27]:
# Put year at the end to make for more friendly partitioning
year_index = df.columns.get_loc('year')
essd_gwp100_df = df[df.columns[:year_index].to_list()
                    + df.columns[year_index+1:].to_list()
                    + [df.columns[year_index]]]
essd_gwp100_df = essd_gwp100_df.convert_dtypes()
display(essd_gwp100_df.columns)

Index(['ISO', 'country', 'region_ar6_6', 'region_ar6_10', 'region_ar6_22',
       'region_ar6_dev', 'sector_title', 'subsector_title', 'CO2', 'CO2_units',
       'CH4', 'CH4_units', 'N2O', 'N2O_units', 'Fgas', 'Fgas_units', 'GHG',
       'GHG_units', 'year'],
      dtype='object')

In [24]:
essd_gwp100_content_df = pd.read_excel(essd_gwp100_tmpfile, sheet_name='info', header=None).dropna(axis=0).set_index(0).T
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) GWP100 Dataset',
    'author': essd_content_df[['Author & contact']].squeeze(),
    'contact': essd_content_df[['Author & contact']].squeeze(),
    'description': essd_content_df[['Data description']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

essd_gwp100_metadata_df = pd.read_excel(essd_gwp100_tmpfile, sheet_name='metadata')
custom_meta_fields = { d['Variable']: {k:v for k,v in d.items() if k!='Variable' and v==v} for d in essd_metadata_df.to_dict('records') }

In [25]:
custom_meta_content

{'title': 'Earth System Science Data (ESSD) GWP100 Dataset',
 'author': 'William F. Lamb (Lamb@mcc-berlin.net) compiled this data from underlying sources (see metadata).',
 'contact': 'William F. Lamb (Lamb@mcc-berlin.net) compiled this data from underlying sources (see metadata).',
 'description': 'This data file provides global, regional, national, and sectoral estimates of greenhouse gas (GHG) emissions from 1970-2019',
 'release_date': '2021-10-13 14:49:22'}

Construct the combined metadata by merging existing table metadata and custom metadata.
Note: The metadata content must be JSON serialisable and encoded as bytes; the metadata key must also be encoded as bytes.

In [28]:
create_essd_table('gwp100_data', essd_gwp100_df, "array['year']")
del(essd_gwp100_df)

create table if not exists osc_datacommons_dev.sandbox.essd_gwp100_data(
    ISO varchar,
    country varchar,
    region_ar6_6 varchar,
    region_ar6_10 varchar,
    region_ar6_22 varchar,
    region_ar6_dev varchar,
    sector_title varchar,
    subsector_title varchar,
    CO2 double,
    CO2_units varchar,
    CH4 double,
    CH4_units varchar,
    N2O double,
    N2O_units varchar,
    Fgas double,
    Fgas_units varchar,
    GHG double,
    GHG_units varchar,
    year timestamp(6)
) with (
partitioning = array['year'],
format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_gwp100_data"
inserting 10000 records
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Buildings', 'Residential', 545.2099, 't CO2', 4.34541267, 't CO2e', 1.310954463, 't CO2e', 0.0, 't CO2e', 550.866267133, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Energy systems', 'Electricity & heat', 30913.971, 't CO2', 11.220446268, 't CO2e', 36.7172781885, 't CO2e', 0.0, 't CO2e', 30961.9087244565, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ('ABW', 'Aruba', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Energy systems', 'Oil and gas fugitive emissions', 0.00632432, 't CO2', 1142.233938314, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 1142.240262634, 't CO2e', TIMESTAMP '1970-01-01 00:00:00')
  ...
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Chemicals', 4330147.3, 't CO2', 2603.922, 't CO2e', 2401122.2235, 't CO2e', 0.0, 't CO2e', 6733873.4455, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Metals', 7919223.7, 't CO2', 75355.4512, 't CO2e', 7137.039, 't CO2e', 747311.29, 't CO2e', 8749027.4802, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Other (industry)', 7412747.8, 't CO2', 9257.517, 't CO2e', 23038.07415, 't CO2e', 171.63, 't CO2e', 7445215.02115, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ('AUT', 'Austria', 'Developed Countries', 'Europe', 'Northern and western Europe', 'developed', 'Industry', 'Waste', 4279.02, 't CO2', 5485034.49102, 't CO2e', 153051.89172, 't CO2e', 0.0, 't CO2e', 5642365.40274, 't CO2e', TIMESTAMP '1976-01-01 00:00:00')
  ...
  ('BIH', 'Bosnia and Herzegovina', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Transport', 'Road', 953609.7, 't CO2', 5706.97488, 't CO2e', 6447.96243, 't CO2e', 0.0, 't CO2e', 965764.63731, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('BIH', 'Bosnia and Herzegovina', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'AFOLU', 'Biomass burning (CH4, N2O)', 0.0, 't CO2', 5585.729193, 't CO2e', 1464.2426799, 't CO2e', 0.0, 't CO2e', 7049.9718729, 't CO2e', TIMESTAMP '1995-01-01 00:00:00')
  ('BIH', 'Bosnia and Herzegovina', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'AFOLU', 'Enteric Fermentation (CH4)', 0.0, 't CO2', 916461.0, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 916461.0, 't CO2e', TIMESTAMP '1995-01-01 00:00:00')
  ('BIH', 'Bosnia and Herzegovina', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 0.171, 't CO2', 0.0, 't CO2e', 323206.3832088, 't CO2e', 0.0, 't CO2e', 323206.5542088, 't CO2e', TIMESTAMP '1995-01-01 00:00:00')
  ...
  ('CAN', 'Canada', 'Developed Countries', 'North America', 'USA & Canada', 'developed', 'Energy systems', 'Petroleum refining', 19750274.8, 't CO2', 12673.81728, 't CO2e', 19338.228, 't CO2e', 0.0, 't CO2e', 19782286.84528, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('CAN', 'Canada', 'Developed Countries', 'North America', 'USA & Canada', 'developed', 'Industry', 'Cement', 6678000.0, 't CO2', 0.0, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 6678000.0, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('CAN', 'Canada', 'Developed Countries', 'North America', 'USA & Canada', 'developed', 'Industry', 'Chemicals', 26933557.82, 't CO2', 173643.7156, 't CO2e', 1745846.0838, 't CO2e', 3409100.0, 't CO2e', 32262147.6194, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('CAN', 'Canada', 'Developed Countries', 'North America', 'USA & Canada', 'developed', 'Industry', 'Metals', 26466969.2, 't CO2', 161311.2328, 't CO2e', 24791.9763, 't CO2e', 7855632.636, 't CO2e', 34508705.0451, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ...
  ('COM', 'Comoros', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Buildings', 'Residential', 3580.7312, 't CO2', 15165.621258264, 't CO2e', 2049.421022376, 't CO2e', 0.0, 't CO2e', 20795.77348064, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('COM', 'Comoros', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Electricity & heat', 8627.03, 't CO2', 2.6917866, 't CO2e', 11.54576787, 't CO2e', 0.0, 't CO2e', 8641.26755447, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
  ('COM', 'Comoros', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Other (energy systems)', 3890.0707, 't CO2', 18722.30733135, 't CO2e', 2067.695250075, 't CO2e', 0.0, 't CO2e', 24680.073281425, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
  ('COM', 'Comoros', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Industry', 'Chemicals', 1502.413, 't CO2', 0.0, 't CO2e', 1.388217831, 't CO2e', 0.0, 't CO2e', 1503.801217831, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
  ...
  ('DOM', 'Dominican Republic', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Energy systems', 'Other (energy systems)', 0.0, 't CO2', 441828.0, 't CO2e', 106224.7914, 't CO2e', 0.0, 't CO2e', 548052.7914, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('DOM', 'Dominican Republic', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Energy systems', 'Petroleum refining', 33235.2, 't CO2', 15.579, 't CO2e', 15.7521, 't CO2e', 0.0, 't CO2e', 33266.5311, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ('DOM', 'Dominican Republic', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Industry', 'Cement', 430304.0, 't CO2', 0.0, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 430304.0, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ('DOM', 'Dominican Republic', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Industry', 'Chemicals', 47501.16, 't CO2', 0.0, 't CO2e', 19.89949962, 't CO2e', 0.0, 't CO2e', 47521.05949962, 't CO2e', TIMESTAMP '1986-01-01 00:00:00')
  ...
  ('FJI', 'Fiji', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'Developing Pacific', 'developing', 'Transport', 'Other (transport)', 10950.1, 't CO2', 16.558074, 't CO2e', 1153.79082, 't CO2e', 0.0, 't CO2e', 12120.448894, 't CO2e', TIMESTAMP '1982-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('FJI', 'Fiji', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'Developing Pacific', 'developing', 'Transport', 'Road', 286667.983, 't CO2', 2873.860992, 't CO2e', 2505.22010466, 't CO2e', 0.0, 't CO2e', 292047.06409666, 't CO2e', TIMESTAMP '1982-01-01 00:00:00')
  ('FJI', 'Fiji', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'Developing Pacific', 'developing', 'AFOLU', 'Biomass burning (CH4, N2O)', 0.0, 't CO2', 6117.7893192, 't CO2e', 1603.7166327, 't CO2e', 0.0, 't CO2e', 7721.5059519, 't CO2e', TIMESTAMP '1983-01-01 00:00:00')
  ('FJI', 'Fiji', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'Developing Pacific', 'developing', 'AFOLU', 'Enteric Fermentation (CH4)', 0.0, 't CO2', 426251.7, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 426251.7, 't CO2e', TIMESTAMP '1983-01-01 00:00:00')
  ...
  ('GNB', 'Guinea-Bissau', 'Africa', 'Africa', 'Western Africa', 'ldc', 'AFOLU', 'Rice cultivation (CH4)', 0.0, 't CO2', 166735.26, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 166735.26, 't CO2e', TIMESTAMP '1971-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('GNB', 'Guinea-Bissau', 'Africa', 'Africa', 'Western Africa', 'ldc', 'Buildings', 'Non-residential', 0.0, 't CO2', 95.0211, 't CO2e', 4.8038445, 't CO2e', 0.0, 't CO2e', 99.8249445, 't CO2e', TIMESTAMP '1971-01-01 00:00:00')
  ('GNB', 'Guinea-Bissau', 'Africa', 'Africa', 'Western Africa', 'ldc', 'Buildings', 'Residential', 467.052, 't CO2', 74258.20845387, 't CO2e', 10011.8903779986, 't CO2e', 0.0, 't CO2e', 84737.1508318686, 't CO2e', TIMESTAMP '1971-01-01 00:00:00')
  ('GNB', 'Guinea-Bissau', 'Africa', 'Africa', 'Western Africa', 'ldc', 'Energy systems', 'Electricity & heat', 255.563, 't CO2', 0.20113974, 't CO2e', 0.489604752, 't CO2e', 0.0, 't CO2e', 256.253744492, 't CO2e', TIMESTAMP '1971-01-01 00:00:00')
  ...
  ('HTI', 'Haiti', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'ldc', 'Industry', 'Waste', 0.0, 't CO2', 1217097.55224, 't CO2e', 55244.9898, 't CO2e', 0.0, 't CO2e', 1272342.54204, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('HTI', 'Haiti', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'ldc', 'Transport', 'Other (transport)', 64170.6, 't CO2', 70.146, 't CO2e', 141.8508, 't CO2e', 0.0, 't CO2e', 64382.5968, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
  ('HTI', 'Haiti', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'ldc', 'Transport', 'Road', 49688.1, 't CO2', 375.13962, 't CO2e', 330.551949, 't CO2e', 0.0, 't CO2e', 50393.791569, 't CO2e', TIMESTAMP '1994-01-01 00:00:00')
  ('HTI', 'Haiti', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'ldc', 'AFOLU', 'Biomass burning (CH4, N2O)', 0.0, 't CO2', 24412.343274, 't CO2e', 6399.45044739, 't CO2e', 0.0, 't CO2e', 30811.79372139, 't CO2e', TIMESTAMP '1995-01-01 00:00:00')
  ...
  ('JAM', 'Jamaica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Industry', 'Metals', 198958.0, 't CO2', 217.485, 't CO2e', 439.803, 't CO2e', 0.0, 't CO2e', 199615.288, 't CO2e', TIMESTAMP '1974-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('JAM', 'Jamaica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Industry', 'Other (industry)', 3004924.8, 't CO2', 3568.752, 't CO2e', 8982.1368, 't CO2e', 0.0, 't CO2e', 3017475.6888, 't CO2e', TIMESTAMP '1974-01-01 00:00:00')
  ('JAM', 'Jamaica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Industry', 'Waste', 0.0, 't CO2', 350624.81583, 't CO2e', 26591.1555, 't CO2e', 0.0, 't CO2e', 377215.97133, 't CO2e', TIMESTAMP '1974-01-01 00:00:00')
  ('JAM', 'Jamaica', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Caribbean', 'developing', 'Transport', 'Domestic Aviation', 9380.0, 't CO2', 1.809, 't CO2e', 73.1641092, 't CO2e', 0.0, 't CO2e', 9454.9731092, 't CO2e', TIMESTAMP '1974-01-01 00:00:00')
  ...
  ('KWT', 'Kuwait', 'Middle East', 'Middle East', 'Middle East', 'developing', 'Transport', 'Road', 5838860.52, 't CO2', 43522.568352, 't CO2e', 56504.0852103, 't CO2e', 0.0, 't CO2e', 5938887.1735623, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('KWT', 'Kuwait', 'Middle East', 'Middle East', 'Middle East', 'developing', 'AFOLU', 'Biomass burning (CH4, N2O)', 0.0, 't CO2', 100.460358, 't CO2e', 26.33470749, 't CO2e', 0.0, 't CO2e', 126.79506549, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('KWT', 'Kuwait', 'Middle East', 'Middle East', 'Middle East', 'developing', 'AFOLU', 'Enteric Fermentation (CH4)', 0.0, 't CO2', 121103.667, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 121103.667, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ('KWT', 'Kuwait', 'Middle East', 'Middle East', 'Middle East', 'developing', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 1728.57, 't CO2', 0.0, 't CO2e', 94881.4520745, 't CO2e', 0.0, 't CO2e', 96610.0220745, 't CO2e', TIMESTAMP '1999-01-01 00:00:00')
  ...
  ('MAC', 'Macao SAR, China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Energy systems', 'Electricity & heat', 530975.356, 't CO2', 163.426232552135, 't CO2e', 662.597162507186, 't CO2e', 0.0, 't CO2e', 531801.379395059, 't CO2e', TIMESTAMP '2019-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('MAC', 'Macao SAR, China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Energy systems', 'Other (energy systems)', 64166.436, 't CO2', 2954.42474122831, 't CO2e', 14325.5906115776, 't CO2e', 0.0, 't CO2e', 81446.4513528059, 't CO2e', TIMESTAMP '2019-01-01 00:00:00')
  ('MAC', 'Macao SAR, China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Cement', 199884.0, 't CO2', 0.0, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 199884.0, 't CO2e', TIMESTAMP '2019-01-01 00:00:00')
  ('MAC', 'Macao SAR, China', 'Asia and developing Pacific', 'Eastern Asia', 'Eastern Asia', 'developing', 'Industry', 'Chemicals', 4157.23041, 't CO2', 0.0, 't CO2e', 53.0673955177899, 't CO2e', 0.0, 't CO2e', 4210.29780551779, 't CO2e', TIMESTAMP '2019-01-01 00:00:00')
  ...
  ('MOZ', 'Mozambique', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Buildings', 'Non-CO2 (all buildings)', 0.0, 't CO2', 0.0, 't CO2e', 0.0, 't CO2e', 8820.725752, 't CO2e', 8820.725752, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('MOZ', 'Mozambique', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Buildings', 'Non-residential', 51351.3, 't CO2', 187.11, 't CO2e', 113.5134, 't CO2e', 0.0, 't CO2e', 51651.9234, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ('MOZ', 'Mozambique', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Buildings', 'Residential', 98085.2, 't CO2', 1213037.64, 't CO2e', 163662.408, 't CO2e', 0.0, 't CO2e', 1474785.248, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ('MOZ', 'Mozambique', 'Africa', 'Africa', 'Eastern Africa', 'ldc', 'Energy systems', 'Coal mining fugitive emissions', 355.628, 't CO2', 15570.5, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 15926.128, 't CO2e', TIMESTAMP '2008-01-01 00:00:00')
  ...
  ('NIC', 'Nicaragua', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Buildings', 'Non-residential', 88637.9, 't CO2', 3242.7, 't CO2e', 262.5168, 't CO2e', 0.0, 't CO2e', 92143.1168, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('NIC', 'Nicaragua', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Buildings', 'Residential', 78548.3, 't CO2', 302268.78, 't CO2e', 40821.9084, 't CO2e', 0.0, 't CO2e', 421638.9884, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('NIC', 'Nicaragua', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Electricity & heat', 1423606.3, 't CO2', 5960.44575, 't CO2e', 9083.467848, 't CO2e', 0.0, 't CO2e', 1438650.213598, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ('NIC', 'Nicaragua', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'Energy systems', 'Oil and gas fugitive emissions', 0.651743, 't CO2', 6752.393622, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 6753.045365, 't CO2e', TIMESTAMP '1998-01-01 00:00:00')
  ...
  ('PHL', 'Philippines', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'South-East Asia', 'developing', 'Energy systems', 'Petroleum refining', 1633917.0, 't CO2', 628.56, 't CO2e', 3182.907, 't CO2e', 0.0, 't CO2e', 1637728.467, 't CO2e', TIMESTAMP '2004-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('PHL', 'Philippines', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'South-East Asia', 'developing', 'Industry', 'Cement', 5606800.0, 't CO2', 0.0, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 5606800.0, 't CO2e', TIMESTAMP '2004-01-01 00:00:00')
  ('PHL', 'Philippines', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'South-East Asia', 'developing', 'Industry', 'Chemicals', 1854476.05, 't CO2', 766.189644, 't CO2e', 22711.4510805, 't CO2e', 0.0, 't CO2e', 1877953.6907245, 't CO2e', TIMESTAMP '2004-01-01 00:00:00')
  ('PHL', 'Philippines', 'Asia and developing Pacific', 'South-East Asia and developing Pacific', 'South-East Asia', 'developing', 'Industry', 'Metals', 1555021.46, 't CO2', 760.185, 't CO2e', 1412.1198, 't CO2e', 0.0, 't CO2e', 1557193.7648, 't CO2e', TIMESTAMP '2004-01-01 00:00:00')
  ...
  ('ROU', 'Romania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Electricity & heat', 39337276.03982, 't CO2', 16160.4729288, 't CO2e', 125853.40609842, 't CO2e', 0.0, 't CO2e', 39479289.9188472, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('ROU', 'Romania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Oil and gas fugitive emissions', 45839.57807, 't CO2', 5127799.42668, 't CO2e', 221.1724788, 't CO2e', 0.0, 't CO2e', 5173860.1772288, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ('ROU', 'Romania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Other (energy systems)', 2201241.8, 't CO2', 29861.406, 't CO2e', 328201.0095, 't CO2e', 43107.8256, 't CO2e', 2602412.0411, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ('ROU', 'Romania', 'Developed Countries', 'Europe', 'Southern and eastern Europe', 'developed', 'Energy systems', 'Petroleum refining', 2909811.2, 't CO2', 1519.747677, 't CO2e', 3001.1436, 't CO2e', 0.0, 't CO2e', 2914332.091277, 't CO2e', TIMESTAMP '2011-01-01 00:00:00')
  ...
  ('SLV', 'El Salvador', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Managed soils and pasture (CO2, N2O)', 281128.5, 't CO2', 0.0, 't CO2e', 745818.7118655, 't CO2e', 0.0, 't CO2e', 1026947.2118655, 't CO2e', TIMESTAMP '1997-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records
  ('SLV', 'El Salvador', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Manure management (N2O, CH4)', 0.0, 't CO2', 52901.34813, 't CO2e', 16920.99864, 't CO2e', 0.0, 't CO2e', 69822.34677, 't CO2e', TIMESTAMP '1997-01-01 00:00:00')
  ('SLV', 'El Salvador', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Rice cultivation (CH4)', 0.0, 't CO2', 51212.2554, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 51212.2554, 't CO2e', TIMESTAMP '1997-01-01 00:00:00')
  ('SLV', 'El Salvador', 'Latin America and Caribbean', 'Latin America and Caribbean', 'Meso America', 'developing', 'AFOLU', 'Synthetic fertilizer application (N2O)', 0.0, 't CO2', 0.0, 't CO2e', 309303.3216, 't CO2e', 0.0, 't CO2e', 309303.3216, 't CO2e', TIMESTAMP '1997-01-01 00:00:00')
  ...
  ('TCD', 'Chad', 'Africa', 'Africa', 'Southern and middle Africa', 'ldc', 'AFOLU', 'Enteric Fermentation (CH4)', 0.0, 't CO2', 5368096.8, 't CO2e', 0.0, 't CO2e', 0.0, 't CO2e', 5368096.8, 't CO2e', TIMESTAMP '1981-01-01 00:00:00')
batch insert result: [(10000,)]
inserting 10000 records

In [29]:
# This table is not so large that we need to load it via the filesystem

import io

bObj = bucket.Object('ESSD/essd_lulucf_data.xlsx')
lulucf_bytes = io.BytesIO(bucket.Object(bObj.key).get()['Body'].read())
timestamp = bObj.last_modified.isoformat()

df = pd.read_excel(lulucf_bytes, sheet_name='data',
                   # nrows=10,
                   converters={'year': lambda x: pd.to_datetime(x, format='%Y')}, engine='openpyxl')

for col in ['blue', 'houghton', 'oscar', 'mean']:
    df.insert(df.columns.get_loc(col)+1, col + "_units", "t CO2e")

# Put year at the end to make for more friendly partitioning
year_index = df.columns.get_loc('year')
lulucf_df = df[df.columns[:year_index].to_list()
               + df.columns[year_index+1:].to_list()
               + [df.columns[year_index]]]
lulucf_df = lulucf_df.convert_dtypes()

display(lulucf_df.columns)

Index(['region_ar6_6', 'region_ar6_10', 'blue', 'blue_units', 'houghton',
       'houghton_units', 'oscar', 'oscar_units', 'mean', 'mean_units', 'year'],
      dtype='object')

In [30]:
lulucf_content_df = pd.read_excel(lulucf_bytes, sheet_name='info', header=None).dropna(axis=0).set_index(0).T
custom_meta_content = {
    'title': 'Earth System Science Data (ESSD) Land Use Change and Forestry Dataset',
    'author': lulucf_content_df[['Author']].squeeze(),
    'contact': lulucf_content_df[['Contact']].squeeze(),
    'description': lulucf_content_df[['Info']].squeeze(),
    'release_date': essd_content_df[['Last date of compilation']].squeeze(),
    # How should we describe our transformative step here?
}

custom_meta_fields = { 'Units': { k:'tCO2' for k in ['blue', 'houghton', 'oscar', 'mean'] }}

In [31]:
custom_meta_content

{'title': 'Earth System Science Data (ESSD) Land Use Change and Forestry Dataset',
 'author': 'Julia Pongratz',
 'contact': 'William F. Lamb (Lamb@mcc-berlin.net)',
 'description': 'This data file provides historical estimates of CO2 emissions from land use, land use change and forestry. It is based on three land use bookeeping models (BLUE, Houghton & Nassikas, OSCAR). Following a practice established by the global carbon budget, and recently the Working Group I of the IPCC (6th Assessment Report), CO2-LULUCF emissions are taken as the mean of these three models.',
 'release_date': '2021-10-13 14:49:22'}

Construct the combined metadata by merging existing table metadata and custom metadata.
Note: The metadata content must be JSON serialisable and encoded as bytes; the metadata key must also be encoded as bytes.

In [32]:
create_essd_table('lulucf', lulucf_df, "array['year']")
del(lulucf_df)

create table if not exists osc_datacommons_dev.sandbox.essd_lulucf(
    region_ar6_6 varchar,
    region_ar6_10 varchar,
    blue double,
    blue_units varchar,
    houghton double,
    houghton_units varchar,
    oscar double,
    oscar_units varchar,
    mean double,
    mean_units varchar,
    year timestamp(6)
) with (
partitioning = array['year'],
format = 'ORC'
)

[(True,)]
constructed fully qualified table name as: "sandbox.essd_lulucf"
inserting 1700 records
  ('Africa', 'Africa', 247575204.928, 't CO2e', 25404728.72, 't CO2e', 107474280.0, 't CO2e', 126818071.216, 't CO2e', TIMESTAMP '1850-01-01 00:00:00')
  ('Africa', 'Africa', 229989415.568, 't CO2e', 25494548.016, 't CO2e', 106888040.0, 't CO2e', 120790667.861333, 't CO2e', TIMESTAMP '1851-01-01 00:00:00')
  ('Africa', 'Africa', 226338781.84, 't CO2e', 25584817.984, 't CO2e', 106265160.0, 't CO2e', 119396253.274667, 't CO2e', TIMESTAMP '1852-01-01 00:00:00')
  ...
  ('Middle East', 'Middle East', -5453068.912, 't CO2e', 12088019.648, 't CO2e', -11226496.0, 't CO2e', -1530515.088, 't CO2e', TIMESTAMP '2019-01-01 00:00:00')
batch insert result: [(1700,)]

# cur.execute('create schema if not exists osc_datacommons_dev.' + schemaname)

cur.execute('show tables in essd')
cur.fetchall()

## Load metadata following an ingestion process into trino metadata store

### The schema is *metastore*, and the table names are *meta_schema*, *meta_table*, *meta_field*

# Create metastore structure
metastore = {'catalog':'osc_datacommons_dev',
             'schema':'essd',
             'table':tablename,
             'metadata':custom_meta_content,
             'uuid':ingest_uuid}
# Create DataFrame
df_meta = pd.DataFrame(metastore)
# Print the output
df_meta

# ??? Now what?